@model IEnumerable<GestorDeTempos.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}


<h1>Clientes</h1>

<p>
    <a asp-action="Create">Adicionar Cliente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@* @Html.ActionLink("Regressar", "Index","Home", new{@class="btn btn-secondary"})*@
  <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Regressar</a>